/* COMMON */
* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

/* HEADER */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

.header-area.navbar-fixed {
    position: fixed;
}

.header-area > .navbar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }    
}

.header-area > .navbar > .navbar-brand {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}

.header-area > .navbar > .navbar-toggler * {
    font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}

@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: 200px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }

    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* SECTION CONTAINER */
.section-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* WELCOME AREA */
.welcome-area {
	height: auto;
}

.welcome-area > .container {
	position: relative;
	height: 100%;
}

.welcome-area > .container > .image-slide {
	height: 100%;
}

.welcome-area > .container > .image-prev,
.welcome-area > .container > .image-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.welcome-area > .container > .image-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.welcome-area > .container > .image-prev:hover,
.welcome-area > .container > .image-next:hover {
	background-color: rgba(0,0,0,0.8);
}

.welcome-area > .container > .dots {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

.welcome-area > .container > .dots > .dot {
	cursor: pointer;
	height: 4px;
	width: 30px;
	margin: 0 2px;
	background-color: #717171;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.welcome-area > .container > .dots > .dot.active,
.welcome-area > .container > .dots > .dot:hover {
	background-color: #ddd;
}

.welcome-area > .container > .fade {
	animation-name: fade;
	animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}