/* COMMON */
* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

/* HEADER */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

.header-area.navbar-fixed {
    position: fixed;
}

.header-area > .navbar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }    
}

.header-area > .navbar > .navbar-brand {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}

.header-area > .navbar > .navbar-toggler * {
    font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}

@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: 200px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }

    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* SECTION CONTAINER */
.section-container {
	max-width: 1000px;
	margin: 0 auto;
}


/* WELCOME AREA */
.welcome-area {
	height: auto;
}

.welcome-area > .container {
	position: relative;
	height: 100%;
}

.welcome-area > .container > .image-slide {
	height: 100%;
}

.welcome-area > .container > .image-prev,
.welcome-area > .container > .image-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.welcome-area > .container > .image-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.welcome-area > .container > .image-prev:hover,
.welcome-area > .container > .image-next:hover {
	background-color: rgba(0,0,0,0.8);
}

.welcome-area > .container > .dots {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

.welcome-area > .container > .dots > .dot {
	cursor: pointer;
	height: 4px;
	width: 30px;
	margin: 0 2px;
	background-color: #717171;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.welcome-area > .container > .dots > .dot.active,
.welcome-area > .container > .dots > .dot:hover {
	background-color: #ddd;
}

.welcome-area > .container > .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}


/* SECTION */
section {
    padding: 100px 0;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 100px;
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    background-image: linear-gradient(to right, royalblue, aquamarine);
}


/* ABOUT AREA */
.about-area {
	height: auto;
	position: relative;
}

.about-area > .picture {
	display: block;
	text-align: center;
	padding: 20px;
}

@media (min-width: 992px) {
	.about-area > .picture {
		width: calc(40% - 40px);
		display: inline-block;
	}
}

.about-area > .picture > img {
	max-width: 300px;
	max-height: 300px;
	border-radius: 15px;
}

.about-area > .picture > .name {
	font-size: 25px;
	text-align: center;
	padding: 15px 0;
}

.about-area > .picture > .description {
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
}

.about-area > .text {
	display: block;
	padding: 30px;
}

@media (min-width: 992px) {
	.about-area > .text {
		width: calc(60% - 100px);
		display: inline-block;
		padding: 0 50px;
	}
}

.about-area > .text * {
	font-size: 16px;
}

.about-area > .text > .intro {
	padding: 20px 0;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 1.5px;
}

.about-area > .text > ul {
	padding: 20px 0;
}

.about-area > .text > ul > li {
	height: 40px;
}

.about-area > .text > ul > li > .info {
	color: #777;
}

.about-area > .text > ul > li > .info > i {
	color: royalblue;
}

.about-area > .text > .sns {
	text-align: right;
}

@media (min-width: 992px) {
	.about-area > .text > .sns {
		text-align: left;
	}
}

.about-area > .text > .sns > a {
	width: 50px;
	line-height: 50px;
	background-color: #eee;
	border-radius: 5px;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.about-area > .text > .sns > a:hover {
	background-image: linear-gradient(to right, royalblue , aquamarine);
}


/* SERVICES AREA */
.services-area {
	height: auto;
	background-color: #f9f9ff;
}

.services-area > .container {
	text-align: center;
}

.services-area > .container > .item {
	height: auto;
	background-color: white;
	padding: 20px;
	margin: 20px;
	text-align: left;
	transition: all 0.5s ease;
}

.services-area > .container > .item:hover {
	transform: scale(1.015);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.services-area > .container > .item > .icon {
	padding: 10px 0;
	display: inline-block;
}

.services-area > .container > .item > .icon > span > i {
	font-size: 48px;
	color: #aaa;
}

.services-area > .container > .item > .service {
	font-size: 32px;
	font-weight: bold;
	padding: 10px 0;
}


.services-area > .container > .item > .content {
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 1.5px;
	padding: 10px 0;
}

/* PORTFOLIO AREA */
.portfolio-area {
	height: auto;
}

.portfolio-area > .filter > .list {
	text-align: center;
}

.portfolio-area > .filter > .list > .listItem {
	display: inline-block;
	font-weight: bold;
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
}

.portfolio-area > .filter > .list > .listItem:hover,
.portfolio-area > .filter > .list > .listItem.active {
	color: royalblue;
}

.portfolio-area > .container {
	padding-top: 50px;
}

.portfolio-area > .container > .filterItem {
	display: none;
	width: calc(100% - 40px);
	margin: 20px;
	text-align: center;
}

@media (min-width: 992px) {
	.portfolio-area > .container > .filterItem {
		width: calc(50% - 40px);
	}
}

.portfolio-area > .container > .filterItem.show {
	display: inline-block;
}

.portfolio-area > .container > .filterItem > .image {
	position: relative;
	max-height: 700px;
}

@media (min-width: 992px) {
	.portfolio-area > .container > .filterItem > .image {
		height: 300px;
	}
}

.portfolio-area > .container > .filterItem > .image > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 300ms ease;
	cursor: pointer;
}

.portfolio-area > .container > .filterItem > .image:hover > .overlay {
	background-image: linear-gradient(to right, royalblue , aquamarine);
	opacity: 0.9;
}

.portfolio-area > .container > .filterItem > .image > .overlay > i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 48px;
}

.portfolio-area > .container > .filterItem > .image > img {
	border-radius: 5px;
}

.portfolio-area > .container > .filterItem > .main {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
}

.portfolio-area > .container > .filterItem > .sub {
	font-size: 16px;
	color: #777;
}

.portfolio-area > .container > .filterItem > .text {
	display: none;
}

#portfolioModal {
	display: none;
	position: fixed; 
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	overflow: hidden;
}

#portfolioModal > .close {
	display: block;
	text-align: right;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	padding: 0 20px;
}

#portfolioModal > .close:hover,
#portfolioModal > .close:focus {
	color: #bbb;
}

#portfolioModal > .container {
	width: 100%;
	height: auto;
}

#portfolioModal > .container > img {
	width: calc(100% - 40px);
	padding: 20px;
}

@media (min-width: 992px) {
	#portfolioModal > .container > img {
		max-width: 700px;
	}
}

#portfolioModal > .container > .modal-main {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 10px 0;
}

#portfolioModal > .container > .modal-sub {
	font-size: 20px;
	color: white;
	padding: 10px 0;
}

#portfolioModal > .container > .modal-text {
	font-size: 16px;
	color: #bbb;
}

/* REVIEW AREA */
.review-area {
	height: auto;
	background-color: #f9f9ff;
}

.review-area > .container {
	position: relative;
	text-align: center;
	background-color: white;
	margin: 20px;
	padding: 40px;
}

@media (min-width: 992px) {
	.review-area > .container {
		padding: 20px 0;
	}
}

.review-area > .container > .review-prev,
.review-area > .container > .review-next {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	padding: 10px;
	cursor: pointer;
}

.review-area > .container > .review-prev {
	left: 0;
}

.review-area > .container > .review-next {
	right: 0;
}

.review-area > .container > .review-prev:hover,
.review-area > .container > .review-next:hover {
	color: rgba(0, 0, 0, 0.9);
}

.review-area > .container > .review-slide {
	display: inline-block;
	width: 100%;
	text-align: left;
}

@media (min-width: 992px) {
	.review-area > .container > .review-slide {
		width: 300px;
	}
}

.review-area > .container > .review-slide.res-show {
	display: inline-block;
}

.review-area > .container > .review-slide.show {
	display: none;
}

@media (min-width: 992px) {
	.review-area > .container > .review-slide.show {
		display: inline-block;
	}
}

.review-area > .container > .review-slide.hide {
	display: none;
}

.review-area > .container > .review-slide > .image {
	display: inline-block;
}

.review-area > .container > .review-slide > .image > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.review-area > .container > .review-slide > .name {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	padding: 0 10px;
}

.review-area > .container > .review-slide > .job {
	display: inline-block;
	font-size: 18px;
}

.review-area > .container > .review-slide > .text {
	padding: 30px;
}

.review-area > .container > .review-slide > .text > i {
	font-size: 16px;
	color: gray;
}

.review-area > .container > .review-slide > .rating {
	text-align: right;
	padding: 10px;
}

.review-area > .container > .review-slide > .rating > span {
	font-size: 14px;
	color: orange;
}

/* FOOTER AREA */
.footer-area {
	height: auto;
	text-align: center;
	background-color: black;
}

.footer-area * {
	color: white;
}

.footer-area > .sns > .item {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.footer-area > .sns > .item > i {
	font-size: 24px;
}

.footer-area > .info > p {
	font-size: 16px;
	padding: 10px 0;
}